.bg-dark-grad {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}

.bg-light-grad {
    background-color: #e7eff9;
    background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
    background-clip: content-box;
}

.container-highlight {
    background: rgb(0, 0, 0, 30%);
}

.card {
    width: 20rem;
}

.card-skill {
    width: 13rem; 
    height: 4rem;
}

.card-skill img{
    width: 2rem; 
    height: 2rem;

}